#container-intro{
    margin: 24px 16px;
    padding: 0px 24px 0px 24px ;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
    .box-download-game{
        display: flex;
        flex-wrap:wrap;
    }
    .img-game-downLoad{
        width:80px;
        height:80px;
        border-radius:8px;
        margin-right: 20px;
    }
    .intro-content-right{
        display: flex;
        flex-wrap:wrap;
        flex-direction: column;
        .intro-content-right-name{
            line-height:24px;
            margin-bottom: 5px;
        }
        .intro-content-right-btn-download{
            padding:5px 10px 5px 10px
        }
    }
}