.fun-ic {
  display: inline-block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.ic-lock {
  background-image: url('/bang-hoi/statics/images/lock.svg');
}

.ic-white-star {
  background-image: url('/bang-hoi/statics/images/fav-list-white.svg');
}

.ic-request-active {
  background-image: url('/bang-hoi/statics/images/request-active.svg');
}

.ic-time {
  background-image: url('/bang-hoi/statics/images/time.svg');
}

.ic-more {
  background-image: url('/bang-hoi/statics/images/more-horizontal.svg');
}

.ic-facebook-round {
  background-image: url('/bang-hoi/statics/images/facebook-round.svg');
}

.ic-users-white {
  background-image: url('/bang-hoi/statics/images/users-white.svg');
}

.ic-homepage {
  background-image: url('/bang-hoi/statics/images/house-2.svg');
}

.ic-playfun {
  background-image: url('/bang-hoi/statics/images/playfun-icon.svg');
}

.ic-nap {
  background-image: url('/bang-hoi/statics/images/fun-card-logo.svg');
}

.ic-more-info {
  background-image: url('/bang-hoi/statics/images/more-info.svg');
}

.ic-eclose {
  background-image: url('/bang-hoi/statics/images/e-close.svg');
}

.ic-eclose-black {
  background-image: url('/bang-hoi/statics/images/e-close-black.svg');
}

.ic-check-white {
  background-image: url('/bang-hoi/statics/images/check-white.svg');
}

.ic-eback-black {
  width: 25px;
  height: 15px;
  background-image: url('/bang-hoi/statics/images/e-back-black.svg');
}

.ic-check {
  background-image: url('/bang-hoi/statics/images/check.svg');
}

.ic-check-2 {
  background-image: url('/bang-hoi/statics/images/check-2.svg');
}

.ic-navigation-menu {
  background-image: url('/bang-hoi/statics/images/navigation-menu.svg');
}

.ic-shield-active {
  background-image: url('/bang-hoi/statics/images/shield-active.svg');
}

.ic-members-active {
  background-image: url('/bang-hoi/statics/images/members.svg');
}

.ic-gear {
  background-image: url('/bang-hoi/statics/images/gear.svg');
}

.ic-alert-dot {
  background-image: url('/bang-hoi/statics/images/alert-dot.svg');
}

.ic-error {
  background-image: url('/bang-hoi/statics/images/error.svg');
}

.ic-gift {
  background-image: url('/bang-hoi/statics/images/gift.png');
}

.ic-search {
  background-image: url('/bang-hoi/statics/images/search.svg');
}

.ic-sort {
  background-image: url('/bang-hoi/statics/images/sort-tool.svg');
}

.ic-homepage-promo {
  background-image: url('/bang-hoi/statics/images/homepage-promo.svg');
}

.ic-facebook-promo {
  background-image: url('/bang-hoi/statics/images/facebook-promo.svg');
}

.ic-giftcode-promo {
  background-image: url('/bang-hoi/statics/images/giftcode-promo.svg');
}

.ic-nap-promo {
  background-image: url('/bang-hoi/statics/images/nap-promo.svg');
}

// Icons v2
.ic-more-horizontal {
  background-image: url('/bang-hoi/statics/images/icons/more-horizontal.svg');
}

.ic-check-circle-green {
  background-image: url('/bang-hoi/statics/images/icons/check-circle-green-regular.svg');
}

.ic-check-circle-grey {
  background-image: url('/bang-hoi/statics/images/icons/check-circle-grey-regular.svg');
}
