@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/form';
@import 'layouts/modal';
@import 'layouts/icons';
@import 'layouts/text';

body {
  background-color: #f3f4f4;
  font-family: 'SF Pro Display', 'Source Sans Pro', 'Open San', sans-serif;
}

#app {
  max-width: 1140px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  #components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
}

#main {
  padding-bottom: 58px;
}
