$base-color: #ff753a;
$dark-gray: #61616a;
$gray: #8e8e93;
$light-gray: #e5e5ea;
$mid-gray: #c7c7c7;
$custom-gray: #f7f7f7;
$fb-color: #6d8bc9;
$magenta: #ff2d55;
$light: #f2f2f2;
$red: #ff0000;
$green: #39c541;
$light-cyan: #f0f6f9;
